<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="text" value="suite text"></parameter>

	<!-- <groups> <run> <include name="smoke"></include> <include name="regression"></include> 
		<exclude name="common"></exclude> </run> </groups> -->

	<test name="Test1">
		<classes>
			<class name="testNGpractice.ClassA" />
			<class name="testNGpractice.ClassE" />
			<class name="testNGpractice.ClassD" />
			<class name="testNGpractice.ClassC" />
			<class name="testNGpractice.ClassB" />
		</classes>
	</test> <!-- Test1 -->

	<test name="Test2">
	<parameter name="text" value="test text"></parameter>
		<classes>
			<class name="testNGpractice.ClassA" />
			<class name="testNGpractice.ClassE" />
			<class name="testNGpractice.ClassD" />
			<class name="testNGpractice.ClassC" />
			<class name="testNGpractice.ClassB" />
		</classes>
	</test> <!-- Test2 -->
</suite> <!-- Suite -->
